body{
  font-family: Poppins;
  font-size: 30px;
}

h1{
  color:#035670;
}

a{
  border: solid 5px #035670;
  color:#035670;
  text-decoration: none;
}

p{
  color: #989898;
}




#reimagined{
  float: left;
}

#reimagined p{
  width: 694px;
}

#reimagined > h1, p{
  padding-left: 10%;
  text-align: left;
}

#reimagined > img{
  z-index: -1;
  position: absolute;
  float: right;
  right:0;
  height: 100vh;
}

#works{
  height: 200vh;
}

.page{
  /* border:solid 2px red; */
  height: 100vh;
}

#deliver > h1{
  float: right;
  margin-top: 172px;
  margin-right: 6%;
}

#deliver > p{
  margin-left: 600px;
  margin-top:329px;
  width:592px;
  text-align: right;
}

#deliver > a {
  border-radius: 73px;
  float: right;
  margin-right: 6%;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  transition: 0.3s;
}

#deliver > a:hover{
  background-color: #035670;
  color:white;
}

#deliver > img{
  z-index: -1;
  position: absolute;
  float: left;
  height: 100vh;
}
